html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}



#container {
	margin: auto;
	text-align: center;
	color: white;
	background-color: green;
	height: 2000px;
	width: 900px;
	border:solid;
	border-width: 1px;
	border-color: black;
	font-family: Helvetica, Arial, sans-serif;
}

section {
	margin-top: 10px;
	margin-bottom: 10px;
}

.socmediabar {

	display: inline-block;
	height: 30px;
	width: 344px;
	background-color: red;
    margin-left: 459px;
    margin-bottom: 0;

}

.socmediasquare {

	margin: 0;
	display: flex;
	justify-content: flex-end;
	list-style: none;

}

.socmediasquare li {
	display: flex;
	justify-content: center; 
	height:30px;
	width:32px;
	padding: 5px;
	margin: 5px;
	color: white;
}

.socmediasquare i {
	
	padding: 5px;
	padding-bottom: 24px;
	padding-right: 10px;
	padding-left: 10px;
}

.fa-facebook-f {
	margin-top: -14px;
    margin-right: -13px;
    padding-right: 12px;
    background-color: rgb(52,67,133);
}

.fa-rss {
	background-color: rgb(191,125,38);
}

.fa-twitter {
	background-color: rgb(88,120,187);
}

.fa-youtube-square {
	background-color: rgb(161,38,34);
}

.socmediasquare li:nth-child(1){
	display: flex;
	align-items: flex-start;
	margin-right: 55px;
	margin-top: 15px;
}

.socmediasquare li:nth-child(2){
	height: 18px;
	margin-right: 10px;
    margin-top:19px;
	border-left: 2px dotted;
	border-width: 2px;
}


.subscr {
	margin-top: 4px;
	margin-right:4px;
	font-size: 9px;
	padding-right: 13px;

}


.linkdirectory {
	display: flex;
	justify-content: center;
	font-size:15px;
	height: 60px;
	width: auto;
	overflow: auto;

}

.linknav {
	padding:0;
	display: flex;
	width: auto;
	align-items: flex-start;
	list-style: none;

}

.linkdirectory li {
	font-size:14px;
	width: 200px;
	background-color: rgb(162,24,35);
	padding: 9px 23px;
	margin-right: 5px;
	margin-left: 5px;
}

.banner {
	background-image: url("assets/top-image.png");
	background-repeat: no-repeat;
	background-position: -31px -129px;
    background-size: 1036px 750px;
	position: relative;
	display: block;
	height: 300px;
	width: auto;
	flex-wrap:wrap;
	overflow:hidden;
	border-style:solid;
	border-width: 10px;
	border-color: white;
}

.bannerbox {
	flex-wrap:wrap;
	overflow:hidden;
	height: 300px;
	width: auto;
	
}

.camera {
	position: absolute;
	left: 9px;
    top: 11px;
    height: 280px;
    width: 778px;
}

.plogo {
	position: absolute;
	left: 14px;
    top: 41px;
	height: 200px;
}

.grid {
	position: absolute;
	left: 0px;
    top: 0px;
    height: 473px;
    width: 800px;
}

.articles {
	display: flex;
	justify-content: center;
	align-items: center;
	height:300px;
	width: auto;
	padding: 0;
}


.news {
	color: black;
	height: 300px;
	width: 300px;
	background-color: white;
	margin: 10px;
	text-align: left;
	padding: 10px;
	padding-top: 0;
	overflow: hidden;

}

.news:last-child {
	margin-right: 0;
}

.news:first-child {
	margin-left: 0;
}

.newstitle {
	font-size: 22px;
	font-weight: 500;
	
}

h3 {
	font-size: 12px;
	color: lightgray;
	font-weight: lighter;
	margin: 0;
}

.news p {
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
}

.news a {
	font-size: 12px;
	font-weight: bold;
	color: rgb(165,18,30);
	text-align: center;
	text-decoration: none; 
	display: block;
}
.skaters {
	height: 400px;
	width: auto;
	background-color: blue;
}

.skaters div {
	border: 3px solid white;
	float: left;
	height:182px;
	width: 287px;
	margin: 6px;
	font-size: 40px;
	font-weight: bolder;
}

.skaters div:nth-child(1){
	background-image: url("assets/sk8er-4.png");
	background-repeat: no-repeat;
	background-size:  388px 254px;
    background-position: -94px -40px;
	padding-top:42px;
}

.skaters div:nth-child(2){
	background-image: url("assets/sk8er-3.png");
	background-repeat: no-repeat;
	background-size:  359px 205px;
    background-position: -1px -29px;
	padding-top:42px;

}
.skaters div:nth-child(3) {
	background-image: url("assets/sk8er-1.png");
	background-repeat: no-repeat;
	background-size: 659px 269px;
    background-position: -9px -59px;
	height: 182px;
	width: 588px;
	padding-top:74px;
}

.skaters div:nth-child(4){
	background-image: url("assets/sk8er-2.png");
	background-repeat: no-repeat;
	background-size: 600px 379px;
    background-position: -255px -7px;
	height: 376px;
	width: 286px;
	margin-top: -188px;
	padding-top:138px;
}


#pointer {
	background-color: rgb(163,23,35);
	height: 44px;
	width: 140px;
	padding-top: 13px;
	font-size: 13px;
	position: absolute;
	left:355px;
	border:none;
}

#pointer:after {
	position: absolute;
	content:"";
	right:-12px;
	bottom: 1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 22px 0 22px 12px;
	border-color: transparent transparent transparent rgb(163,23,35);

}

#boards {
	font-size: 10px;
	height: 182px;
	width: 100px;
	padding: 0;
	margin-right:0;
	margin-left:0;
	width: 900px;
}

#boards ul{
	display: flex;
	justify-content: center:;
	list-style: none;
	margin-right: 10px;
	padding-right: 10px;
}

#boards img {
	margin: 10px;
	height: 138px;
	width: 57px;
}



